<div class="foot-menu">
  <p>
    ©2015 EVITA UN ERROR<span>·</span><a href="#comparteExperiencia" data-toggle="modal">MISIÓN</a><span>·</span><a href="mailto:hola@evitaunerror.com">CONTACTO</a><span>·</span><a href="{{site_url}}/politica-de-privacidad">PRIVACIDAD</a>
  </p>
</div>