{% block html_head_container %}
{% include 'includes/html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}
    <body class="{{body_class}}" data-template="base.twig">
        <!--[if lt IE 8]>
        <p class="browsehappy">
          You are using an <strong>outdated</strong> browser.
          Please <a href="http://browsehappy.com/">upgrade your browser</a>
          to improve your experience.
        </p><![endif]-->
        <div id="main-layout">
            {% include 'includes/sidebar.twig' %}
            <div class="main-content col-sm-9">
                {% include 'includes/topbar.twig' %}
                <section>
                    {% block content %}
                        Sorry, no content
                    {% endblock %}
                </section>

                {% block footer %}
                    <footer id="footer">
                        {% include 'includes/footer.twig' %}
                    </footer>
                    {{ function('wp_footer') }}
                {% endblock %}
                
            </div>
        </div>
        {% include 'includes/footer-scripts.twig' %}
    </body>
</html>
