.banner(style="background-image:url('assets/images/banner.png');")

.mistake.small-mistake.home(style="background-image:url('assets/images/banner.png');")
  .content.paper
    .label #Tecnología
    h2 El error que pude no haber cometido
    p.small Writer and pianist in a galaxy far, far away. I  build human experiences on the Internet.
    p.data-m
      span.img.avatar(style="background-image:url('https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg');")
      span Javier Megías
      span.img-thumbup
      span.count 33
    a.btn.purple
      span.fa.fa-angle-left
    a.btn.dark Siguiente error
      span.fa.fa-angle-right
  .others
    .mistake.small-mistake.m1
    .mistake.small-mistake.m2

.mistake.small-mistake.home(style="background-image:url('assets/images/banner.png');")
  .content.paper
    .label.green #Personal
    h2 El error que pude no haber cometido
    p.small Writer and pianist in a galaxy far, far away. I  build human experiences on the Internet.
    p.data-m
      span.img.avatar(style="background-image:url('https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg');")
      span Javier Megías
      span.img-thumbup
      span.count 33
    a.btn.purple
      span.fa.fa-angle-left
    a.btn.dark Siguiente error
      span.fa.fa-angle-right
  .others
    .mistake.small-mistake.m1
    .mistake.small-mistake.m2

.mistake.small-mistake.home(style="background-image:url('assets/images/banner.png');")
  .content.paper
    .label.blue #Startups
    h2 El error que pude no haber cometido
    p.small Writer and pianist in a galaxy far, far away. I  build human experiences on the Internet.
    p.data-m
      span.img.avatar(style="background-image:url('https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg');")
      span Javier Megías
      span.img-thumbup
      span.count 33
    a.btn.purple
      span.fa.fa-angle-left
    a.btn.dark Siguiente error
      span.fa.fa-angle-right
  .others
    .mistake.small-mistake.m1
    .mistake.small-mistake.m2