.banner(style="background-image:url('assets/images/banner.png');")
.mistake#main-mistake
  .content.paper
    p.labels
      | #tecnología
    h1.title
      | El error que pude no haber cometido
    .text
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.
  .footer.foot-auth
    .authory
      .content
        .col-sm-2.col-xs-2
          .avatar(style="background-image:url('https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg');")
        .col-sm-7.col-xs-10
          p.author Javier Megías Terol
          p.small Writer and pianist in a galaxy far, far away. I build human experiences on the Internet as a CTO in Joinity and CEO in Bueninvento.
        .col-sm-3.social
          a.btn 
            i.fa.fa-lg.fa-facebook
          a.btn
            i.fa.fa-lg.fa-twitter
          a.btn
            i.fa.fa-lg.fa-instagram
    .poll
      .content
        .col-sm-2.col-xs-2
          .img-thumbup
        .col-sm-8.col-xs-8
          p.big ¿Te ha ayudado esta experiencia?
        .col-sm-2.col-xs-2
          .img-thumbdown

.mistake.small-mistake(style="background-image:url('assets/images/banner.png');")
  .content.paper
    h3 Más en tecnología
    h2 El error que pude no haber cometido
    p.small Una experiencia de Javier Megías
    a.btn.dark Siguiente error
      span.fa.fa-angle-right
  .others
    .mistake.small-mistake
    .mistake.small-mistake.m2
    .mistake.small-mistake.m3