<div id="main-layout">
  <div id="sidebar" class="sidebar col-sm-3">
    <div class="img-logo"></div>
    <p class="quote">“El único hombre que no se equivoca es el que nunca hace nada.”</p>
    <p class="quote">–GOETHE</p>
    <div id="sidemenu"><a class="btn dark2 btn-block">Todos los errores</a><a class="btn dark2 btn-block">Populares</a><a class="btn dark2 btn-block">Más recientes</a><a class="btn purple btn-block">Comparte tu error</a></div>
    <form id="search">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
          <input type="text" placeholder="Busca un error" class="form-control">
        </div>
      </div>
    </form>
  </div>
  <div class="main-content col-sm-9">
    <header id="topbar" class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#sidebar" class="navbar-toggle collapsed"><i class="fa fa-bars fa-2x"></i><i class="fa fa-remove fa-2x"></i></button>
        </div>
        <nav id="options" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="user">
              <div style="background-image:url('https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg');" class="avatar"></div>
              <p>
                 
                Fernando<i class="fa fa-sort-down"></i>
              </p>
            </li>
            <li>
              <div class="btn purple">Comparte tu error<span class="fa fa-angle-right"></span></div>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div style="background-image:url('{{site.theme.link}}/assets/images/banner.png');" class="banner"></div>
    <div style="background-image:url('{{site.theme.link}}/assets/images/banner.png');" class="mistake small-mistake home">
      <div class="content paper">
        <div class="label">#Tecnología</div>
        <h2>El error que pude no haber cometido</h2>
        <p class="small">Writer and pianist in a galaxy far, far away. I  build human experiences on the Internet.</p>
        <p class="data-m"><span style="background-image:url('https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg');" class="img avatar"></span><span>Javier Megías</span><span class="img-thumbup"></span><span class="count">33</span></p><a class="btn purple"><span class="fa fa-angle-left"></span></a><a class="btn dark">Siguiente error<span class="fa fa-angle-right"></span></a>
      </div>
      <div class="others">
        <div class="mistake small-mistake m1"></div>
        <div class="mistake small-mistake m2"></div>
      </div>
    </div>
    <div style="background-image:url('{{site.theme.link}}/assets/images/banner.png');" class="mistake small-mistake home">
      <div class="content paper">
        <div class="label green">#Personal</div>
        <h2>El error que pude no haber cometido</h2>
        <p class="small">Writer and pianist in a galaxy far, far away. I  build human experiences on the Internet.</p>
        <p class="data-m"><span style="background-image:url('https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg');" class="img avatar"></span><span>Javier Megías</span><span class="img-thumbup"></span><span class="count">33</span></p><a class="btn purple"><span class="fa fa-angle-left"></span></a><a class="btn dark">Siguiente error<span class="fa fa-angle-right"></span></a>
      </div>
      <div class="others">
        <div class="mistake small-mistake m1"></div>
        <div class="mistake small-mistake m2"></div>
      </div>
    </div>
    <div style="background-image:url('{{site.theme.link}}/assets/images/banner.png');" class="mistake small-mistake home">
      <div class="content paper">
        <div class="label blue">#Startups</div>
        <h2>El error que pude no haber cometido</h2>
        <p class="small">Writer and pianist in a galaxy far, far away. I  build human experiences on the Internet.</p>
        <p class="data-m"><span style="background-image:url('https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg');" class="img avatar"></span><span>Javier Megías</span><span class="img-thumbup"></span><span class="count">33</span></p><a class="btn purple"><span class="fa fa-angle-left"></span></a><a class="btn dark">Siguiente error<span class="fa fa-angle-right"></span></a>
      </div>
      <div class="others">
        <div class="mistake small-mistake m1"></div>
        <div class="mistake small-mistake m2"></div>
      </div>
    </div>
    <div class="foot-menu">
      <p>
         
        ©2015 EVITA UN ERROR<span>·</span>MISIÓN<span>·</span>EQUIPO<span>·</span>CONTACTO<span>·</span>PRIVACIDAD
      </p>
    </div>
  </div>
</div>