.sidebar.col-sm-3#sidebar
  .img-logo
  p.quote “El único hombre que no se equivoca es el que nunca hace nada.”
  p.quote –GOETHE
  #sidemenu
    a.btn.dark2.btn-block Todos los errores
    a.btn.dark2.btn-block Populares
    a.btn.dark2.btn-block Más recientes
    a.btn.purple.btn-block Comparte tu error
  form#search
    .form-group
      .input-group
        .input-group-addon
          span.glyphicon.glyphicon-search
        input.form-control(type="text",placeholder="Busca un error")