header.navbar.navbar-static-top#topbar
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target="#sidebar")
        i.fa.fa-bars.fa-2x
        i.fa.fa-remove.fa-2x
    nav.collapse.navbar-collapse#options
      ul.nav.navbar-nav
        li.user
          .avatar(style="background-image:url('https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg');")
          p 
            | Fernando
            i.fa.fa-sort-down
        li
          .btn.purple
            | Comparte tu error
            span.fa.fa-angle-right